.todo-item{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    transition: linear 1s;
    background-color: #ffc0c0;
    color: rgb(1, 76, 113);
}

.todo-item li{
    width: 100%;
    padding: 10px;
    font-size: 25px;
    overflow-x: auto;
}

.todo-item li::-webkit-scrollbar {
    display: none;
}

.delete-icon{
    height: 100%;
    padding: 13px;
    width: 0;
    opacity: 0;
    color: white;
    background-color: red;
    transition: all 0.3s;
}

.todo-item:hover .delete-icon{
    width: 10%;
    opacity: 1;
}
.todo-item:hover span{
    width: 90%;
}

.todo-item:nth-child(even){
    background-color: #fdefef;
}

.todo-item:last-child{
    border-radius: 0 0 10px 10px;
}

.todo-item:last-child .delete-icon{
    border-radius: 0 0 10px 0px;
}

@media screen and (max-width: 480px) {
    .delete-icon{
        padding: 15px;
    }

    .todo-item:hover .delete-icon{
        width: 15%; 
    }
}